body{
  color: blue;
}
div{
  display: flex;
  width: 580px;
  height: 580px;
  background-image: url('./images/icon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  border: 1px solid orange;
}